* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  color: white;
  text-decoration: none;
}

.error-user {
  margin-top: 15px;
  padding: 3px;
  background-color: brown;
  color: white;
  text-align: center;
}

.error-user p {
  margin: 0;
}
